body {
    background-color: #121212;
}

.card-click:hover {
    opacity: 0.95;
}

a {
    text-decoration: none;
    color: black;
}

.modelo {
    text-align: center;
}

.preco {
    text-align: center;
}

.box {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: fit-content;
    width: fit-content;
    margin: auto;
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 20px;
}

.imagem {
    border-radius: 10px;
}